body
{
	margin: 0px;
}
#page
{
	margin: 10% 20%;
}
#header
{
	background-color: #4cff00;
}

#title, #subTitle
{
	margin-left: 10px; 
}

#footer
{
	background-color: #ffd800;
}

#body
{
	overflow: hidden;
	
	background-color: #000000;
}

div#slidesWrapper
{
	position: relative;
	width: 100%;
	height: 300px;
	
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	
	background-color: yellow;
}

ul#slides
{
	

	
}
ul#slides .slide
{
	list-style-type: none;
	position: absolute;
	float: left;
	padding: 0px;
	
}

div#imageBar
{
	width: 100%;
	
	background-color: pink
}
img.portrait, img.square, img.landscape
{
	

	display: inline;
	
	background-color: black;
}
img.landscape
{
	width: 300px;
	height: 200px;
	padding: 50px 0px;
}

img.portrait
{
	width: 230px;
	height: 300px;
	padding: 0px 35px;
}

img.square
{
	width: 250px;
	height: 250px;
	padding: 25px;
}

#navbar
{
	float: left;
	width: 150px;
	
	background-color: #F00;
}

ul#navLinks .navLink
{
	list-style-type: none;
	
	padding: 5px 0px;
}


a:link
{
	color: black;
	
	text-decoration: none;	
	font-family: Arial, Helvetica, sans-serif;
}
a:visited
{
	color: aqua;
}
a:hover
{
	color: pink;
}
a:active
{
	color: #4cff00;
}

#content
{
	margin-left: 150px;

	background-color: #BBBBBB;
}

.column
{
	margin-bottom: -32000px;
	padding-bottom: 32000px;
}

.blockWrapper
{
	display: inline-block;
}

#backgroundImageWrapper
{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: -1;
}

@media(min-aspect-ratio: 2/3)
{
	#backgroundImage
	{
		position: relative;
		width: 100%;	
		top: 50%;
		transform: translate(0, -50%);
	}
}

@media(max-aspect-ratio: 2/3)
{
	#backgroundImage
	{
		position: relative;
		height: 100%;
		left: 50%;
		transform: translate(-50%, 0);
	}
}