body {
	background-color: darkgreen;
	/*background-image:url(Beautiful_Pink_Flowers.jpg);
	this only works if you have image in the same
	directory as the css file*/
}

#content {
	width:50%;
	background-color: pink;
	background-image: url(Beautiful_Pink_Flowers.jpg);
}/*
#leftFiller {
	width:25%;
	float:left;
	background-color: lightblue;
}
#rightFiller {
	width:25%;
	float:right;
	background-color: darkblue;
}*/

#header{
	background-color:pink;
}
#h1, P#headerText {
	background-color: transparent;
}

#header, h1, p#headerText {
	text-align: left;
	color: green;
	margin-bottom:0%;
	padding-bottom:0.25%;
}

#navBar {
	background-color:blue;
	padding:0%;
	margin:0%;
	height:200px;
	width:20%;
	display: block;
	float: left;
	text-align: center;
}

ul#navButtons {
	background-color:red;
	list-style-type:none;
	padding: 0%;
	margin:0%;
	width: 100%;
	max-height:100%;
	
}
li { /*For all li in ul*/
	display:vertical;
}

a.navButton {
}
a.navButton:link {
	color: green;
	background-color: transparent;
	text-decoration: none;
}

a.navButton:visited {
	color:purple;
	background-color: transparent;
	text-decoration: none;
}

a.navButton:hover {
	color: blue;
	background-color: transparent;
	text-decoration: none;
}

a.navButton:active {
	color:grey;
	background-color:transparent;
	text-decoration: none;
}

#footer {
	background-color:pink;
}

div#section01 {
	float:left;
}

img.sample {
	border: solid blue;
	margin: 1%;
}
#img01 {
	float:right;
}