body {
	background-color:lightgreen;
	background-image:url(Beautiful_Pink_Flowers.jpg);
}
a:link{
	color:green;
	background-color: transparent;
	text-decoration: none;
}

#header {
	padding:1%;
}
h1, p#headerText {
	padding:1%;
}

#header, h1, p#headerText {
	background-color:pink;
	text-align: left;
	color:green;
}

#navBar {
	background-color:blue;
	padding:1%;
	
}
ul#navButtons {
	background-color:red;
	list-style-type:none;
	padding:0.5%;
}
li {
	display:inline;
}
a.navButton {
	background-color: black;
	float: left;
	font-size:x-large;
}
a.navButton:link {
	color: green;
	background-color: transparent;
	text-decoration: none;
}

a.navButton:visited {
	color:purple;
	background-color: transparent;
	text-decoration: none;
}

nav, a.navButton:hover {
	color: blue;
	background-color: transparent;
	text-decoration: none;
}

nav, a.navButton:active {
	color:grey;
	background-color:transparent;
	text-decoration: none;
}

#footer {
	background-color:green;
}

#div01 {
border:solid red;
}
#div02 {
	border:solid yellow;
}
img.sample {
	border: solid blue;
	margin: 1%;
}
#img01 {
	float:right;
}